
<!DOCTYPE html>
<html>
  <head>
		<script src="//www.parsecdn.com/js/parse-1.2.18.min.js"></script>
		<script>
			//app-id, jkey
			Parse.initialize( <%- initkeys %> );
		</script>
  	<script src="gen/scratch.js"></script>
    <title><%= username %>@Engelbärchen</title>
  </head>
  <body>
    Menu: <a href="logout">Tschaui</a><hr>
    <h1>Hello <%= username %></h1>
    
		<form action="post_entwurf" method="post">
			<input type="text" name="entwurf" placeholder="Entwurf" 
				value="<%= entwurf %>"/>
			<input type="submit" value="Speichern" />
		</form>	

		<hr><h2>Nur für den Programmierer verständlich:</h2>
    Javascript <span id="log">fehlt noch</span>
    <script>run()</script>    
    <pre><%= json %></pre>
    
</html>
