<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
        <%=username %>@Engelb채rchen</title>

</head>

<body>
    Menu:
    <a href="logout">Tschaui</a>

    <form action="post_entwurf" method="post">

        <h2>Entwurf</h2>

        <textarea class="edit_plain" name="entwurf" placeholder="Entwurf" rows="5"><%=entwurf %></textarea>

        <br>

        <input type="submit" value="Speichern" />

    </form>

    <h2>Bookmarks</h2>

    <div class="bookmarks" contenteditable="false">
        <%-bookmarks %>
    </div>

    <a href="<%-bearmarklet%>">B채rmarklet</a>
    <textarea><%-bearmarklet%></textarea>
    
    <div hidden="true">
        <hr>
        <h2>Nur f체r den Programmierer verst채ndlich:</h2>
        Javascript
        <span id="log">fehlt noch</span>
        <pre>
            <%=json %>
        </pre>
    </div>
    <script src="gen/logged-in.js"></script>

</html>
