<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
        <%=username %>@Engelbärchen</title>

</head>

<body>
    <% if (json) { %>
    <div>
        <h2>Nur für den Programmierer verständlich:</h2>
        <pre>
            <%=json %>
        </pre>
        <hr>
    </div>
    <% } %>

    Menu:
    <a href="logout">Tschaui</a>
    | <a href="edit_bookmarks.html">Edit Bookmarks</a>

    <form action="post_entwurf" method="post">
        <h2>Entwurf von <%=username %></h2>
        <textarea class="edit_plain" name="entwurf" placeholder="Entwurf" rows="5"><%=entwurf %></textarea>
        <br>
        <input type="submit" value="Speichern" name="Speichern"/>
        <input type="submit" value="Eintragen" name="Eintragen"/>
        <button onclick="return loeschen()">Löschen</button>
    </form>
    
    <%=msg%>

    <h2>Bookmarks</h2>

    <div class="bookmarks" contenteditable="false">
        <%-bookmarks %>
    </div>

    <a href="<%-bearmarklet%>">Bärmarklet</a>
    <textarea><%-bearmarklet%></textarea>
    
    <script src="gen/logged-in.js"></script>

</html>
