<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="logged-in.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script> var useAjax = false </script>
	<script src="gen/client-lib.js"></script>
	<script src="gen/logged-in.js"></script>
	<title><%=username %>@<%=pref %>Engelbärchen</title>
</head>
<body onload="main()">
	<span id="date"><small>noscript</small></span>
    <script>writeDates()</script><br>
    <%=pref %>Menu:
    <a href="logout" onclick="return logout()">Tschaui</a>
    | <a href="spiel.html">Spiel</a>
    | <a href="tools.html">Tools</a>

    <form action="/" method="post">
        <h2>Entwurf von <%=username %></h2>
        <textarea class="edit_plain" name="entwurf" placeholder="Entwurf" rows="5"><%=entwurf %></textarea>
        <br>
        <input type="submit" value="Speichern" name="Speichern"/>
        <input type="submit" value="Eintragen" name="Eintragen"/>
        <button onclick="return loeschen()">Löschen</button>
    </form>
    
    <%=msg%>

    <h2>Bookmarks <a href="edit-bookmarks.html"><small>Edit</small></a></h2>

    <div class="bookmarks">
        <%-bookmarks %>
    </div>

  <div>
	<hr>
    <h2>Fachchinesisch fürs Team:</h2>
    <pre id="log"><%=json %>
</pre>
  </div>

    
</body>
</html>
